*.1bpp
*.4bpp
*.8bpp
*.DS_Store
*.bak
*.bat
*.diff
*.dump
*.elf
*.exe
*.fwjpnfont
*.gba
!data/*.gba
*.sgm
*.sa1
*.sg1
*.gbapal
*.hwjpnfont
*.i
*.idb
*.id0
*.id1
*.id2
*.latfont
*.lz
*.map
*.nam
*.o
*.pcm
*.pl
*.rl
*.s.old
*.s.old2
*.sa*
*.swo
*.swp
*.til
.fuse*
.idea/
Thumbs.db
build/
cmake-build-*
ld_script_ruby.txt
ld_script_sapphire.txt
sound/**/*.bin
sound/songs/midi/*.s
src/data/items.h
src/data/wild_encounters.h
src/data/region_map/region_map_entries.h
src/data/region_map/region_map_entry_strings.h
src/data/region_map/porymap_config.json
tags
tools/agbcc
tools/binutils
types_*.taghl
!.github/calcrom/calcrom.pl
!sound/programmable_wave_samples/*.pcm
_Deparsed_XSubs.pm
porymap.*.cfg
prefabs.json
.vscode/*.*
*.js
*.sym
