*.exe
*.o
*.i
*.elf
*.gba
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.pcm
*.latfont
*.hwjpnfont
*.fwjpnfont
*.bat
sound/**/*.bin
src/*.s
tools/agbcc
tools/binutils
ld_script_ruby.txt
ld_script_sapphire.txt
*.map
*.id0
*.id1
*.id2
*.nam
*.til
.fuse*
*.ld
tags
types_*.taghl
*.swp
*.swo
*.s.old
*.s.old2
*.dump
*.sa*
Thumbs.db
build/
.idea/
cmake-build-*
*.DS_Store
*.pl
*.bak
src/data/items.h
tools/br_ips/br_ips
tools/br_ips/ips_patch
